body
{
    background-color:#F5ECD5;
}
#title
{
    color:rgb(0, 128, 106);
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-top: 30px;

}
#pagename
{
    color:rgb(0, 128, 106);
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-top: 50px;
}
.custombtn
{
    background-color: black;
    border-color: #28a745;
    margin: 18px;
    padding: 12px;
}

.custombtn:hover {
    background-color: #218838;
    border-color: #1e7e34;
}
input.custombtn1 {
    background-color: rgb(63, 141, 0) !important;
    border-color: #2f663b !important;
}

input.custombtn1:hover {
    background-color: #218838;
    border-color: #1e7e34;
}